# 문자열이란
문자열(String)이란 문자, 단어 등으로 구성된 문자들의 집합을 의미한다. 예를 들어 다음과 같은 것들이 문자열이다.

In [1]:
"Life is too shotrt, You need Python"
"a"
"123"

'123'

## 문자열 만들기

In [2]:
"Hello World"   ## 큰따옴표로 양쪽 둘러싸기
'Python is fun' ## 작은따옴표로 양쪽 둘러싸기
## " 3개를 연속으로 써서 양쪽 둘러싸기
"""Life is too short, You need python"""
## ' 3개를 연속으로 써서 양쪽 둘러싸기
'''Life is too short, You need python'''

'Life is too short, You need python'

## 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

#### 1. 문자열에 작은 따옴표 ' 포함시키기

In [7]:
food = "Python's favoirte food is perl"
food  # 큰 따옴표로 둘러쌓인 문자열 안에 ''

"Python's favoirte food is perl"

#### 2. 문자열에 큰따옴표 " 포함시키기

In [12]:
# 작은 따옴표로 둘러싸면 됨.
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

#### 3. 백슬래시(\)를 사용해서 ' 와 " 를 문자열에 포함시키기

In [19]:
food = 'python\'s favoirte food is perl'
say = "\"Python is very easy.\". he says."
food
say

'"Python is very easy.". he says.'

## 여러 줄인 문자열을 변수에 대입하고 싶을 때

#### 1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [28]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

#### 2. 연속된 작은따옴표 3개(''') 또는 큰따옴표 3개(""") 사용하기

In [29]:
# 작은따옴표 3개를 사용한 경우
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [30]:
# 큰따옴표 3개를 사용한 경우
multiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

## 문자열 연산하기

#### 문자열 더해서 연결하기 (Concatenation)

In [34]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

#### 문자열 곱하기

In [36]:
a = "python"
a * 2

'pythonpython'

#### 문자열 곱하기 응용

In [ ]:
# multistring.py

print("=" * 50)
print("My program")
print("=" * 50)

#### 문자열 길이 구하기

In [37]:
# len 함수 사용  (파이썬 기본 내장 함수)
a = "Life is too short"
len(a)

17

## 문자열 인덱싱과 슬라이싱

### 문자열 인덱싱이란
"Life is too short, You need Python" 문자열에서 L은 첫 번째 자리를 뜻하는 숫자 0, 바로 다음인 i는 1 이런 식으로 계속 번호를 붙인 것이다. 중간에 있는 short의 s는 12가 된다.
예에서 볼 수 있듯이 a[번호]는 문자열 안의 특정한 값을 뽑아내는 역할을 한다. 이러한 작업을 인덱싱이라고 한다.

In [40]:
# Life is too short, You need Python
# 0         1         2         3 
# 0123456789012345678901234567890123

# 파이썬은 0부터 숫자를 센다

In [41]:
a = "Life is too short, You need python"
a[3]

'e'

#### 문자열 인덱싱 활용하기

In [44]:
a = "Life is too short, You need python"
a[0]

'L'

In [45]:
a[12]

's'

In [47]:
# a[-1]은 뒤에서부터 세어 첫 번째가 되는 문자를 뜻함
a[-1]

'n'

In [50]:
# 뒤에서부터 첫 번째를 셀 때 a[-0]이 안되는 이유는 
# 0과 -0은 같은 값이기 때문에 0으로 계산됨
a[-0]

'L'

In [52]:
a[-2]

'o'

## 문자열 슬라이싱이란

#### 인덱싱으로 단어를 뽑아내보자

In [53]:
a = "Life is too short, You need python"
b = a[0]+ a[1] + a[2] + a[3]
b

'Life'

### 슬라이싱 기법으로 하면?

In [54]:
a = "Life is too short, You need python"
a[0:4]

'Life'

In [57]:
a[0:3]
# a[0:3]이 Lif인 이유
# a[0:3] == 0 <= a <3
# 슬라이싱 기법에서 a[시작 번호 : 끝 번호] 지정할 때
# 끝 번호는 포함이 안됨.

'Lif'

#### 문자열을 슬라이싱하는 방법

In [62]:
# 슬라이싱할 때 항상 시작 번호가 0일 필요는 없다.
a[0:2]
a[5:7]
a[12:17]

'short'

In [63]:
# a[시작 번호 : 끝 번호]에서 끝 번호 부분을 생략하면
# 시작 번호부터 그 문자열의 끝까지 뽑아낸다
a[19:]

'You need python'

In [65]:
# a[시작 번호 : 끝 번호]에서 시작 번호를 생략하면 
# 문자열의 처음부터 끝 번호까지 뽑아낸다
a[:17]

'Life is too short'

In [67]:
# a[시작 번호 : 끝 번호]에서 둘 다 생략하면 
# 문자열의 처음부터 끝까지를 뽑아낸다
a[:]

'Life is too short, You need python'

In [69]:
# 슬라이싱에서도 인덱싱과 마찬가지로 - 기호를 사용가능
a[19:-7]
# a[19:-7]이 뜻하는 것은 a[19]에서부터 a[-8]까지를 말함
# a[-7]은 포함하지 않음

'You need'

#### 슬라이싱으로 문자열 나누기

In [75]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
weather

'Rainy'

In [79]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year
day
weather

'Rainy'

#### Pithon이라는 문자열을 Python으로 바꾸려면?

In [80]:
a = "Pithon"
a[1]

'i'

In [81]:
a[1] = "y"
# 오류 이유 : 문자열의 요솟값은 바꿀 수 있는 값이 아님

TypeError: 'str' object does not support item assignment

In [86]:
# 슬라이싱 기법으로 문자열의 요솟값을 바꿀 수 있음
a = "Pithon"
a[:1] # 'P'
a[2:] # 'thon'
a[:1] + 'y' + a[2:]
# 슬라이싱하여 그 사이에 'y'문자를 추가하여 새로운 문자열

'Python'

## 문자열 포매팅
문자열 포매팅이란 문자열 안에 어떤 값을 삽입하는 방법이다.
이렇게 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것이 바로 문자열 포매팅 기법이다.

### 문자열 포매팅 따라 하기

#### 1. 숫자 바로 대입

In [88]:
"I eat %d apples." % 3
# 문자열 안에서 숫자를 넣고 싶은 자리에 %d 문자를 넣고
# 삽입할 숫자 3은 가장 뒤에 있는 % 문자 뒤에 입력
# 여기서 %d는 문자열 포맷 코드라고 부른다.

'I eat 3 apples.'

#### 2. 문자열 바로 대입

In [89]:
"I eat %s apples." % "five"
# 문자열을 넣기 위해서는 %s를 써야 함
# 문자열을 대입할 때는 큰따옴표나 작은따옴표를 필히 씀.

'I eat five apples.'

#### 3. 숫자 값을 나타내는 변수로 대입

In [98]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

#### 4. 2개 이상의 값 넣기

In [102]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number,day)
# 2개 이상의 값을 넣으려면 마지막 % 다음 괄호 안에 콤마로 구분하여
# 각각의 값을 넣어 주면 된다.

'I ate 10 apples. so I was sick for three days.'

In [103]:
# 2020 / 04 / 23

### 포매팅 코드

#### %s

In [ ]:
# %s 포맷 코드 = 어떤 형태의 값이든 변환해 넣을 수 있다. 
# 자동으로 % 뒤에 있는 값을 문자열로 바꾸기 때문.

#### %d와 %를 같이 쓸 때는 %%를 쓴다

In [4]:
"Error is %d%%." % 98

'Error is 98%.'

### 포맷 코드와 숫자 함께 사용하기

#### 1. 정렬과 공백

In [6]:
"%10s" % "hi"
# 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 
# 그 앞의 나머지는 공백으로 남겨 두라는 의미

'        hi'

In [7]:
# 반대
"%-10sjane." %"hi"

'hi        jane.'

#### 2. 소수점 표현하기

In [8]:
"%0.4f" % 3.422134234
# 소수점 네 번째 자리까지만 나타내라.

'3.4221'

In [9]:
"%10.4f" % 3.42134234
# 숫자 3.42134234를 소수점 네 번째 자리까지만 표시하고 전체 길이가 10개인
# 문자열 공간에서 오른쪽으로 정렬하는 예

'    3.4213'

### format 함수를 사용한 포매팅

#### 1. 숫자 바로 대입하기

In [10]:
"I eat {0} apples." .format(3)
# {0} 부분이 숫자 3으로 바뀌었다.

'I eat 3 apples.'

#### 2. 문자열 바로 대입하기

In [11]:
"I eat {0} appeles.".format("five")
# {0} 부분이 five라는 문자열로 바뀌었다.
# 여기서 {0}은 인덱스!!! (0번째)

'I eat five appeles.'

#### 3. 숫자 값을 가진 변수로 대입하기

In [12]:
number = 3
"I eat {0} apples.".format(number)
# 문자열의 {0} 항목이 number 변수 값인 3으로 바뀌었다.

'I eat 3 apples.'

#### 4. 2개 이상의 값 넣기

In [16]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)
# 2개 이상의 값을 넣을 경우 문자열의 {0},{1}과 같은 인덱스 항목이
# format함수의 입력값으로 순서에 맞게 바뀐다.

'I ate 10 apples. so I was sick for three days.'

#### 5. 이름으로 넣기

In [20]:
"I ate {number} apples. so I was sick for {day} days.".format(number = 10, day=3)
# {0}.{1}과 같은 인덱스 대신 더 편리한 {name} 형태
# {name} 형태를 사용할 경우 format 함수에는 반드시 name=value 같은 입력값 필

'I ate 10 apples. so I was sick for 3 days.'

#### 6. 인덱스와 이름을 혼용해서 넣기

In [23]:
"I ate {0} apples. so I was sick for {day} days.".format(10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 7. 왼쪽 정렬

In [25]:
"{0:<10}".format("hi")
# :<10 표현식을 사용하면 치환되는 문자열을 왼쪽으로 정렬하고 
# 문자열의 총 자릿수를 10으로 맞출 수 있다.

'hi        '

#### 8. 오른쪽 정렬

In [27]:
"{0:>10}".format("hi")

'        hi'

#### 9. 가운데 정렬

In [28]:
"{0:^10}".format("hi")

'    hi    '

#### 10.공백 채우기

In [29]:
"{0:=^10}".format("hi")
# 정렬할 때 공백 문자 대신에 지정한 문자 값으로 채워 넣는 거 가능
# 채워 넣을 문자 값은 정렬 문자 <,>,^ 바로 앞에 넣어야 한다.
# ^ (가운데)로 정렬하고 빈 공간을 =로 채움

'====hi===='

In [30]:
"{0:!<10}".format("hi")
# < (왼쪽)으로 정렬하고 빈 공간을 ! 문자로 채웠다.

'hi!!!!!!!!'

#### 11. 소수점 표현하기

In [31]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [35]:
"{0:10.4f}".format(y)
# 자릿수를 10으로 맞출 수도 있다.

'    3.4213'

#### 12. { 또는 } 문자 표현하기

In [36]:
"{{ and }}".format()

'{ and }'

### 문자열 관련 함수들

#### 1. 문자 개수 세기(count)

In [46]:
a = "hobby"
a.count('b')
# 문자열 중 문자 b의 개수를 돌려준다

2

#### 2. 위치 알려주기1 (find)

In [48]:
a = "Python is the best choice"
a.find('b')
a.find('k')
# 문자열 중 문자 b가 처음으로 나온 위치를 반환한다.
# 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환한다.

-1

#### 3. 위치 알려주기2 (index)

In [51]:
a = "Life is too short"
a.index('t')
a.index('k')
# 문자열 중 문자 t가 맨 처음으로 나온 위치를 반환
# 맘ㄴ약 찾는 문자나 문자열이 미존재하면 오류를 발생시킴 (find와의 차이점)

ValueError: substring not found

#### 4. 문자열 삽입(join)

In [53]:
",".join('abcd')
# abcd 문자열의 각각의 문자 사이에 ','를 삽입한다.

'a,b,c,d'

In [55]:
",".join(['a','b','c','d'])
# join 함수의 입력으로 리스트를 사용하는 예

'a,b,c,d'

#### 5. 소문자를 대문자로 바꾸기(upper)

In [56]:
a = "hi"
a.upper()

'HI'

#### 6. 대문자를 소문자로 바꾸기(lower)

In [57]:
a = "HI"
a.lower()

'hi'

#### 7.왼쪽 공백 지우기(lstrip)

In [58]:
a = " hi "
a.lstrip()

'hi '

#### 8. 오른쪽 공백 지우기(rstrip)

In [59]:
a = " hi "
a.rstrip()

' hi'

#### 9. 양쪽 공백 지우기(strip)

In [61]:
a = " hi "
a.strip()

'hi'

#### 10. 문자열 바꾸기(replace)

In [62]:
a = "Life is too short"
a.replace("Life","Your leg")
# replace(바뀌게 될 문자열, 바꿀 문자열)처럼 사용해서 문자열 안의 특정한 값을
# 다른 값으로 치환해 준다.

'Your leg is too short'

#### 11. 문자열 나누기(split)

In [64]:
a = "Life is too short"
a.split()
# a.split()처럼 괄호 안에 아무 값도 넣어 주지 않으면 공백(스페이스,탭, 엔터 등)
# 기준으로 문자열을 나누어 준다.

['Life', 'is', 'too', 'short']

In [66]:
b = "a:b:c:d"
b.split(':')
# b.split(':')처럼 괄호 안에 특정 값이 있을 경우에는 괄호 안의 값을 구분자로
# 문자열을 나누어 준다. 이렇게 나눈 값은 리스트에 하나씩 들어가게 된다.

['a', 'b', 'c', 'd']