### Q1. 홍길동 씨의 과목별 점수를 활용해 홍길동 씨의 평균 점수를 구해 보자

In [6]:
avg = int((80+75+55)/3)
avg

70

### Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자

In [ ]:
2로 나눠서 나머지가 1이면 홀수, 0이면 짝수이다.

### Q3. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연원일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [13]:
num = '881120-1068234'
first = num[:6]
end = num[7:]
first
end

'1068234'

### Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해보자

In [15]:
pin = "881120-1068234"
pin[7]

'1'

### Q5. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace함수를 사용하여 a#b#c#d로 바꿔서 출력해보자

In [22]:
a = "a:b:c:d"
a.replace(':','#')

'a#b#c#d'

### Q6. [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자

In [27]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

## Q7. ['Life','is','too','short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [21]:
a = ['Life','is','too','short']
b = str(a)
b.join()

TypeError: can only join an iterable

## Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [32]:
a =(1,2,3)

AttributeError: 'tuple' object has no attribute 'append'

## Q9.  3번 - 변할 수 있는 리스트가 key값으로 사용되었다.

## Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자

In [11]:
a = {'A' : 90, 'B' : 80, 'C':70}
a.pop('B')

80

## Q11. a 리스트에서 중복 숫자를 제거해보자

In [13]:
a = [1,1,1,2,2,3,3,3,4,4,5]
s1 = set(a)
s1

{1, 2, 3, 4, 5}

## Q12. a의 두 번째 요솟값을 변경하면 b 값은?

In [14]:
a = b = [1,2,3]
a[1] = 4
print(b)
#a 와 b가 같은 리스트를 공유하기 때문에 발생한다.

[1, 4, 3]