# 집합 자료형
집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형

## set 키워드

In [1]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [2]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

## 특징
- 중복을 허용하지 않는다
- 순서가 없다(Unordered)
- set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환한 후 해야 함
- 중복을 허용하지 않는 set의 특징은 자료형의 중복을 제거하기 위한 필터 역할로 종종 사용하기도 한다

In [5]:
s1 = set([1,2,3])
l1 = list(s1)
l1
l1[0]

1

In [8]:
t1 = tuple(s1)
t1
t1[0]

1

## 교집합, 합집합, 차집합 구하기
- set 자료형을 정말 유용하게 사용하는 경우는 교집합, 합집합, 차집합을 구할 때이다

In [15]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

#### 1. 교집합

In [16]:
s1 & s2

{4, 5, 6}

In [17]:
s1.intersection(s2)

{4, 5, 6}

#### 2. 합집합

In [18]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 3. 차집합

In [20]:
s1 - s2

{1, 2, 3}

In [22]:
s2 - s1

{7, 8, 9}

In [26]:
s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수들

### 값 1개 추가하기(add)
- 1개의 값만 추가(add)할 경우에는 다음과 같이 한다

In [28]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러 개 추가하기(update)
- 여러 개의 값을 한꺼번에 추가(update)할 때는 다음과 같이 하면 된다.

In [29]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [35]:
ss = set([1,2,3])
ss.update([2,5,6])
ss

{1, 2, 3, 5, 6}

### 특정 값 제거하기(remove)

In [36]:
s1 = set([1,2,3,])
s1.remove(2)
s1

{1, 3}